.button {
    width: 100%;
    background: darkblue;
    color: white;
    border: none;
    padding: 20px 30px;
    cursor: auto;
    transition: transform 3s;
}

button:hover{
    background: white;
    color: darkblue;
    border-color: darkblue;
    border-radius: 5px;
}
