.button {
    width: 100%;
    background: darkblue;
    color: white;
    border: none;
    padding: 20px 30px;
    transition: transform scale 0.5s;
}

button:hover{
    transform: scale (1.5);
    background: red;
}
