.button {
    width: 100%;
    background: darkblue;
    color: white;
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    transition: transform 0.6s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

.button:disabled {
    background: #888;
    cursor: not-allowed;
}

button:hover{
    transform: scale(1.1);
    background: white;
    color: darkblue;
}

.button:disabled:hover{
    transform: scale(1.1);
    color: red;
}
